@(entryForm: Form[Entry])
@import helper._
@import helper.twitterBootstrap._
@main("Form") {
    @form(action = routes.Application.submit(), 'id -> "entryForm"){
        @inputText(entryForm("imie"), '_label -> "Imię:")
        @inputText(entryForm("nazwisko"), '_label -> "Nazwisko:")
        @inputDate(entryForm("data"), '_label -> "Data urodzenia:")
        @inputText(entryForm("email"), '_label -> "Email:")
        @select(entryForm("database"), options = Seq("1"->"PostgreSQL", "2"->"MySql", "3"->"Oracle", "4"->"MsSql"), '_label -> "Twoja ulubiona baza SQL:")
        @textarea(entryForm("notatki"), args = 'rows -> 3, 'cols -> 50, '_label -> "Notatki do zgłoszenia:")
        <input type="submit" class="btn primary" value="Wyślij">
    }
}