@(entryForm: Form[Entry])
@import helper._
@implicitField = @{ FieldConstructor(myFieldConstructor.f) }
@main("Form") {

    @form(action = routes.Application.submit(), 'id -> "entryForm", 'class -> "form"){
        @inputText(entryForm("imie"), '_label -> "Imię:", 'class -> "form-control")
        @inputText(entryForm("nazwisko"), '_label -> "Nazwisko:", 'class -> "form-control")
        @inputDate(entryForm("data"), '_label -> "Data urodzenia:", 'class -> "form-control")
        @inputText(entryForm("email"), '_label -> "Email:", 'class -> "form-control")
        @select(entryForm("database"), options = Seq("1"->"PostgreSQL", "2"->"MySql", "3"->"Oracle", "4"->"MsSql"), '_label -> "Twoja ulubiona baza SQL:", 'class -> "form-control")
        @textarea(entryForm("notatki"), args = 'rows -> 3, 'cols -> 50, '_label -> "Notatki do zgłoszenia:", 'class -> "form-control")
        <input type="submit" class="btn primary" value="Wyślij">
    }
}